.UpcomingFilms {
    border: 2px solid #000000;
    background-color: #f1f1f1;
    width: 400px;
    padding: 18px;
    margin:20px;
}

h1 {
    font-size: 22px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 20px;
}

hr {
    border: none;
    background-color: #cccccc;
    height: 2px;
}
